<div class="chat-container">
  <header class="chat-header">
    <h1>Centro de Mensajes </h1>
  </header>
  <main class="join-main">
    <form id="formAuthor" action="">
      <div class="usuerLogged">{{username}}</div>
      <div class="form-group">
        <label for="usuario"></label>
        <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Enter usuario ..." required />
      </div>
      <div class="form-group">
        <input id="mensajes" name="mensajes" value="" type="text" placeholder="Ingresa un mensaje" required
          autocomplete="off" />
        <button type="submit" class="btn">Join Chat</button>
    </form>
  </main>
  <main class="chat-main">
    <div class="chat-messages">
      <div class="message">

      </div>
      <div class="bot">

      </div>
    </div>
  </main>

</div>